<?php

$title = 'Add new keyword';
$title = $this->translate($title);
$this->headTitle($title);
?>
<div class="page-header">
 <h1><?php echo $title; ?></h1>
</div>
 <?php
 $form->setAttribute('action', $this->url('retext', array('action' => 'add')));
 $form->setAttribute('method', 'post');
 $form->prepare();

 echo $this->form()->openTag($form);
 
 foreach ($form as $element) : ?>
  
     <div style="width: 330px;" class="form-group <?php if ($this->formElementErrors($element)) echo "has-error" ?>">
         <?php
             if ('submit' != $element->getAttribute('type')) { ?>
                 <label class="control-label"><?php echo $element->getLabel() ?></label>
                 <?php
                 $element->setAttribute('class', 'form-control')
                         ->setAttribute('placeholder', $element->getLabel());
             } else {
                 $element->setAttribute('class', 'btn btn-success');
             }

             echo $this->formElement($element);
             
             if ($this->formElementErrors($element)) : ?>
                 <?php
                 echo $this->formElementErrors()
                     ->setMessageOpenFormat('<p class="help-block">')
                     ->setMessageSeparatorString('</p><p class="help-block">')
                     ->setMessageCloseString('</p>')
                     ->render($element);
                 ?>
             <?php endif; ?>
     </div>
  
 <?php endforeach;
 
  echo $this->form()->closeTag();
  