<?php

$title = 'Delete keyword';
$title = $this->translate($title);
$this->headTitle($title);
?>

<div class="page-header">
<h1><?php echo $title; ?></h1>
</div>

 <p>Are you sure that you want to delete keyword <strong>'<?php echo $this->escapeHtml($record->keyword); ?>'</strong> with response text <strong>'<?php echo $this->escapeHtml($record->response); ?>'</strong>?
 </p>
 <?php
 $url = $this->url('retext', array(
     'action' => 'delete',
     'id'     => $this->id,
 ));
 ?>
 <form action="<?php echo $url; ?>" method="post">
 <div>
     <input type="hidden" name="id" value="<?php echo (int) $record->id; ?>" />
     <input type="submit" class="btn btn-danger" name="del" value="Yes" />&nbsp;&nbsp;
     <input type="submit" class="btn btn-default"name="del" value="No" />
 </div>
 </form>