<?php

$title = $this->zfcUserIdentity() ? 'Manage Keywords' : '';
$title = $this->translate($title);
$this->headTitle($title);

$flash = $this->flashMessenger();
$flash->setMessageOpenFormat('<div%s>
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
         &times;
     </button>
     <ul><li>')
     ->setMessageSeparatorString('</li><li>')
     ->setMessageCloseString('</li></ul></div>');
?>


<?php if(!$this->zfcUserIdentity()): ?>
    <?php echo $this->zfcUserLoginWidget(); ?>
<?php else: ?>

<div class="page-header">
    <h1><?php echo $title; ?></h1>
</div>

<?php echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-success'));?>

<p>
   <a class="btn btn-default" href="<?php echo $this->url('retext', array('action'=>'add'));?>">
   <span class="glyphicon glyphicon-plus"></span>
   Add new keyword</a>
     
</p>

<?php if (count($records) > 0): ?>

 <table class="table table-hover">
 <thead>
  <tr>
     <th>Keyword</th>
     <th>Response text (URL)</th>
     <th>&nbsp;</th>
 </tr>
 </thead>
 <tbody>
 <?php foreach ($records as $record) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($record->keyword);?></td>
     <td><a href="<?php echo $this->escapeHtml($record->response);?>" target="_blank"><?php echo $this->escapeHtml($record->response);?></a></td>
     <td>
         <a class="btn btn-default btn-xs" href="<?php echo $this->url('retext', array('action'=>'edit', 'id' => $record->id));?>">
         <span class="glyphicon glyphicon-pencil"></span>
         Edit</a>&nbsp;&nbsp;  
         <a class="btn btn-default btn-xs" href="<?php echo $this->url('retext', array('action'=>'delete', 'id' => $record->id));?>">
         <span class="glyphicon glyphicon-remove"></span>
         Delete</a>
     </td>
 </tr>
 <?php endforeach; ?>
 </tbody>
 </table>
 <?php else: ?>
    <p class="text-center text-info">
        <?php echo $this->translate('No records found'); ?>.
    </p>
    
 <?php endif ?> 
<?php endif?>